d
GtkImage y BD/.idea/codeStyleSettings.xml
*.db
GtkImage y BD/.idea/workspace.xml
GtkImage y BD/.idea/GtkImage y BD.iml
GtkImage y BD/test.py
*.pyc
GtkImage y BD/.idea/modules.xml
GtkImage y BD/.idea/misc.xml